[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
"bs4" = "*"
requests = "*"
dateutils = "*"

[dev-packages]
pytest = "*"
ipdb = "*"
pytest-mock = "*"

[requires]
python_version = "3.6"
